

.image{

  width: 100%;
  margin: auto;
 border-radius: 50px;
}
.App-header{
  
  background-color: #FCACE6;
  height: 100%;
  /* position: absolute; */
  padding: 5%;
  min-height: 100vh;
}
.bouton{
  
  position: relative;
  left: 42.5%;
}

.lien{
  display: flex;
  position: relative;
  justify-content: center;
}

.text{
  color: brown;
  position: relative;
  left: 35%;
}

.titre{
  
  position: relative;
  left: 50%;
}
.ligne{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ligne p {
  width: 300px;
  height: 500px;
}

.body2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body2 p{
  width: 300px;
  height: 500px;
}
.image2{
  width: 30%;
  margin: auto;
 border-radius: 50px;
 display: flex;

}