body {
  background: url(../public/Illustration_espace.png);
  background-size: cover;
}


.image{

  width: 90%;
  margin: auto;
 border-radius: 50px;
  transition-duration: 2s;
}

.image:hover{
  width: 100%;
}

.image2{

  width: 90%;
  margin: auto;
 border-radius: 50px;
  transition-duration: 2s;
}

.image2:hover{
  width: 100%;
}
.image3{

  width: 10%;
  margin: auto;
 border-radius: 50px;
  transition-duration: 2s;
 
}

.image3:hover{
  width: 15%;
}

.image4{
  width: 30%;
  margin: auto;
 border-radius: 50px;
 display: flex;

}

.App-header{
  
  
  padding: 2%;
  min-height: 100vh;

}
.bouton{
  
  position: relative;
  left: 42.5%;
  border-radius: 10px 100px / 120px;
}
.bouton2{
  border-radius: 10px 100px / 120px;
}

Link{
  border-radius: 10px 100px / 120px;
}

#sharbar{
  position: relative;
  left: 45.5%;
  border-radius: 30px;
  border: thick double #32a1ce;
  block-size: auto;
  writing-mode: horizontal-tb;
}

.lien{
  display: flex;
  position: relative;
  justify-content: center;
}

.text{
  font-family:'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  position: relative;
  left: 35%;
  height: 50px;
}

.titre{
  
  display: flex;
  justify-content: center;
}
.ligne{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ligne p {
  width: 300px;
  height: 500px;
}

.body2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.body2 p{
  width: 300px;
  height: 500px;
}


h1 {
  font-family:'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);

}
.info{
  display: flex;
  text-align: center;
  font-family: fantasy;
  font-size: large;
}
.margin{
  margin-bottom: 25%;
}
.populaire{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.info2{
  display: flex;
  justify-content: center;
}